* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#wrapper-div {
    width: 80%;
    background-color: wheat;
    margin: auto;
}
#main1-div {
    width: 100%;
    margin-bottom: 20px;
}
#logo-div {
    width: 100%;
    min-height: 20px;
    background-color: white;
    color: yellow;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-div img {
    max-height: 25%;
    width: auto;
}
#nav-div {
    width: 100%;
    min-height: 50px;
    background-color: darkgoldenrod;
    text-align: center;
    float: left;
    line-height: 100px;
    margin-bottom: 10px;
}
#nav-div a {
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#side-nav {
    height: 100%;
    width: 150px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: darkgoldenrod; 
    overflow-x: hidden; 
    padding-top: 20px;
  }

#side-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: block;
  }


#side-nav a:hover {
    color: #f1f1f1;
  }
.main {
    margin-left: 160px;
    padding: 0px 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
    @media screen and (max-height: 450px) {

#side-nav
        {padding-top: 15px;}

#side-nav
 a {font-size: 18px;}
  }
#main-div {
    width: 100%;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
#footer-div {
    width: 100%;
    text-align: center;
    min-height: 20px;
    background-color: white;
    color: rgb(255, 199, 44);
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    float: left;
}   
#footer-div img {
    max-height: 25%;
    width:fit-content;
    vertical-align: middle;
}
